{% extends 'DanMainBundle::layout.html.twig' %}

{% block title %}Blab{% endblock %}
{% block content %}
    <h3>Plugins</h3>
    <ul>
        {% for plugin in plugins %}
            {% if not plugin.userRole or is_granted(plugin.userRole) %}
                <li>
                    <a href="{{path(plugin.rootRoute)}}" >{{plugin.name}}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
