<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>{% block title %}Title{% endblock %}</title>
        
        {% block head %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        {% block head_style %}{% endblock %}
        {% block head_script %}{% endblock %}
    </head>
    <body  class="business {{page is defined?page:''}}">
        {% block body %}{% endblock %}
        {% block templates %}{% endblock %}
        {% block foot_script %}{% endblock %}
    </body>
</html>
