/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/*
/composer.phar

/app/sessions/*
/app/spool/*
/app/files/*

/web/media/cache/*
/web/media/test/*

/app/config/parameters.yml
/app/phpunit.xml

/nbproject/*
/.rsync_cache
phantomjsdriver.log

/src/**/scripts/supervisor/*
/src/**/plugin.less
/src/**/Resources/public/less/plugin/*

!app/cache/.gitkeep
!app/logs/.gitkeep

*~
!*.gitkeep
