{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <p>
        <a href="{{path('report')}}" >Reports</a>
    </p>
    <p>
        <a href="{{path('regexp_edit')}}" >Report Regexps</a>
    </p>

{% endblock %}
