{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Diary</h3>
    <ul>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <li>
                <a href="{{path('diary_regexp_edit')}}" >Report Regexps</a>
            </li>
        {% endif %}
        <li>
            <a href="{{path('diary_settings_edit')}}" >Settings</a>
        </li>
        <li>
            <a href="{{path('report')}}" >Reports</a>
        </li>
        <li>
            <a href="{{path('analysis_project_month')}}" >Analysis</a>
        </li>
    </ul>

{% endblock %}
