{% extends 'DanMainBundle::layout.html.twig' %}


{% block logo %}
    {{parent()}}
    <a href="{{path('diary_index')}}" class="logo-text diary-logo" > :: Diary</a>
    
{% endblock %}

    
{% block foot_script %}
    {{ parent() }}
    {% include 'DanPluginDiaryBundle::_main.js.html.twig' %}
{% endblock %}

    