{% extends 'DanUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="page-center" style="width:50%;">
        <h4>Password dimenticata?</h4>
        <div class="well" >
            <p>
                Il ripristino della password del tuo account è già stato chiesto nelle ultime 24 ore.<br/>
                Per ragioni di sicurezza non è possibile reimpostare la password ora.<br/>
            </p>
        </div>
    </div>
{% endblock %}

