<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" novalidate="novalidate" >
    <div>
        <label for="username">Username o email:</label>
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input type="submit" value="ripristina" class="btn btn-primary" />
    </div>
</form>
