{% extends 'DanUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="page-center">
        <h4>Ripristino password</h4>
        <div class="well" >
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>
{% endblock %}
