{% extends 'DanMainBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Plugins</h3>
    <ul>
        <li>
            <a href="{{path('diary_index')}}" >Diary</a>
        </li>
    </ul>
{% endblock %}
