{% extends 'DanMainBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Plugins</h3>
    <ul>
        {% for plugin in plugins %}
            <li>
                <a href="{{path(plugin.rootRoute)}}" >{{plugin.name}}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
