{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Settings</h3>
    {% include 'DanPluginDiaryBundle:Settings:_form.html.twig' %}
{% endblock %}
