<div class="row">
    <div class="span6">
        {% include 'DanPluginDiaryBundle:Report:_form.html.twig' %}
    </div>
    <div class="span6">
        <div class="report-parsed">
        </div>
        <hr/>
        <h4>Properties</h4>
        <pre class="report-properties">
        </pre>
    </div>
</div>