{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <div class="pull-right" >
        <ul class="unstyled inline record_actions">
            <li>
                <a href="{{ path('report') }}" class="btn btn-mini">
                    List
                </a>
            </li>
        </ul>
    </div>
 
    <h3>New report</h3>

    <div class="row">
        <div class="span6">
            {% include 'DanPluginDiaryBundle:Report:_form.html.twig' %}
        </div>
        <div class="span6">
            <div class="report-parsed">
            </div>
            <hr/>
            <h4>Properties</h4>
            <pre class="report-properties">
            </pre>
        </div>
    </div>
{% endblock %}
