{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <div class="pull-right" >
        <ul class="unstyled inline record_actions">
            <li>
                <a href="{{ path('report') }}" class="btn btn-mini">
                    List
                </a>
            </li>
        </ul>
    </div>
 
    <h3>New report</h3>

    {% include 'DanPluginDiaryBundle:Report:_form_container.html.twig' %}
{% endblock %}
