{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Regexp</h3>

    {% include 'DanPluginDiaryBundle:Regexp:_form.html.twig' %}
{% endblock %}
