{% extends 'DanPluginDiaryBundle::layout.html.twig' %}

{% block title %}blab{% endblock %}
{% block content %}
    <h3>Regexp</h3>
    <div class="pull-right">
        <ul class="unstyled inline record_actions">
            <li>
                {{ form_start(form_reset) }}
                    {{ form_widget(form_reset.submit, {attr: {class:"btn btn-mini btn-danger"}}) }}
                {{ form_end(form_reset) }}
            </li>
        </ul>
    </div>

    {% include 'DanPluginDiaryBundle:Regexp:_form.html.twig' %}
{% endblock %}
